<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>/logo_frisian_flag.png">
    <title></title>
  </head>
  <body scroll="no" >
    <!-- <noscript>
      <strong>We're sorry but my-project doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript> -->
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
