* {
    box-sizing: border-box;
}

body{
    /* background-image: url(../images/background_login.png); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: contain; */
    margin: 0;
    position: absolute;
    font-family: 'ArialRounded';
    overflow: hidden;
}

.panel-gallery{
    width: 100%;
}
.bg-gallery{
    object-fit: cover;
    width: 100%;
    height: auto;
    right: 0;
    bottom: 0;
    position: absolute;
}

.brand-gallery{
    position: fixed;
    margin-bottom: 2%;
}
.title-gallery{
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    width: 80%;
}
.center-gallery {
    position: relative;
    top: 10%;
    width: auto;
    text-align: center;
    font-size: 18px;
}

.background-comic-gallery{
    background: url("../images/background_gallery.png") no-repeat;
    background-size: contain;
    background-position: center;
    padding: 6%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    margin-top: 40%;
}

.wrap-gallery-item{
    transform: scale(1.2);
    margin: 20px 0 10px 0;
}

.row-center{
    clear: both;
    float: left;
    left: 50%;
    margin-left:-50%;
}

.qrcode-text-btn {
  display:inline-block;
  background:url(../images/button_scan.png) no-repeat;
  background-size: contain;
  height:60px;
  width:202px;
  cursor:pointer;
  bottom: 0;
  margin-bottom: 3%;
  margin-top:10%;
}

.qrcode-text-btn > input[type=file] {
  position:absolute;
  overflow:hidden;
  width:1px;
  height:1px;
  opacity:0
}

#carousel{
    /* width: 70%; */
    background: transparent;
}

.carousel-container{
    width: 50vw;
    height: auto;
}

.gallery-arrow{
    position: relative;
}

.gallery-arrow-prev{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    margin-left: 3%;
    margin-top: 50%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.gallery-arrow-next{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    margin-right: 3%;
    margin-top: 50%;
}

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    html {
        background: none;
        margin: 0 auto;
        width: calc(100% /3);
        height: 100%;
        max-height: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        top:0;
        bottom:0;
        left:0;
        right:0;
        zoom: reset;
        /* position: relative;
        left: 50%;
        transform: translate(-50%, -50%); */

    }
    ::-webkit-scrollbar {
        display: none;
    }
    body{
        background: none;
        width: 100%;
        height: auto;
        max-height: 100%;
        /* margin-left: calc(100vw /3);
        margin-right: calc(100vw /3); */
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        zoom: reset;
    }
    .panel-gallery{
        width: calc(100%);
        background: #000;
    }
    .bg-gallery{
        /* display: none; */
    }
    .brand-gallery{
        width: 25%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 2%;

    }
    .title-gallery{
        left: 50%;
        position: relative;
        transform: translate(-50%, -50%);
        margin: 15vh 0 0 0;
        width: 70%;
    }
    .carousel-container{
        width: 50vw;
        height: auto;
    }
    .wrap-gallery{
        transform: scale(0.5);
        margin: 40px 0 10px 0;
    }
    .wrap-gallery-item{
        transform: scale(1);
        margin: 20px 0 10px 0;
    }

    .gallery-arrow-prev{
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        margin-left: 4%;
        margin-top: 25%;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .gallery-arrow-next{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        margin-right: 4%;
        margin-top: 25%;
    }

    .row-button{
        position: relative;
        bottom: 0;
        clear: both;
        margin-top: 39vh;
    }

}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .panel-gallery{
        width: calc(100%  /3);
        background: #000;
    }
}

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px / iPad
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .background-comic-gallery{
        background: url("../images/background_gallery.png") no-repeat;
        background-size: contain;
        background-position: center;
        padding: 6%;
        margin: 0 auto;
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.4);
        margin-top: 40%;
    }

    .wrap-gallery-item{
        transform: scale(1.1);
        /* margin: 20px 0 10px 0; */
        position: relative;
    }

    .row-center{
        clear: both;
        float: left;
        left: 50%;
        margin-left:-50%;
        position: relative;
    }
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 479px) {

    .panel-gallery{
        margin-top: 20%;
    }

    .bg-gallery{
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: fixed;
    }
    .brand-gallery{
        position: fixed;
        width: 30%;
        top: 0;
        left: 0;
        margin-bottom: 4%;
    }
    .title-gallery{
        left: 50%;
        position: relative;
        transform: translate(-50%, -50%);
        margin: 22px 0 -22px 0px;
        width: 80%;
    }
    .center-gallery {
        position: relative;
        top: 10%;
        width: auto;
        text-align: center;
        font-size: 18px;
    }

    .background-comic-gallery{
        background: url("../images/background_gallery.png") no-repeat;
        background-size: contain;
        background-position: center;
        padding: 6%;
        margin: 0 auto;
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.4);
        margin-top: 40%;
    }

    .wrap-gallery-item{
        transform: scale(0.54);
        margin: 8vh 0 10px 0;
        position: relative;
    }

    .row-center{
        clear: both;
        float: left;
        left: 50%;
        margin-left:-50%;
    }
    .gallery-arrow{
        position: absolute;
    }

    .gallery-arrow-prev{
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
        margin-left: 2%;
        margin-top: 35%;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .gallery-arrow-next{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
        margin-right: 2%;
        margin-top: 35%;
    }

    .row-button{
        position: absolute;
        bottom: 0;
        margin-bottom: 36%;
    }

    .qrcode-text-btn {
        display:inline-block;
        background:url(../images/button_scan.png) no-repeat;
        background-size: contain;
        height:60px;
        width:202px;
        cursor:pointer;
        position: absolute;
        bottom: 0;
      }

      .qrcode-text-btn > input[type=file] {
        overflow:hidden;
        width:1px;
        height:1px;
        opacity:0;
      }
      
      @media (max-width: 320px) and (max-height: 480px) {
        .row-button{
            position: absolute;
            bottom: 0;
            margin-bottom: 12%;
        }
      }
}
