/* PAGE  */
#app .ff-login-page, .ff-register-page, .ff-forgot-page, .ff-changepass-page,
.ff-forgotset-page, .ff-gallery-page, .ff-story-page {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ff-login-page input.ff-loginpage-fieldinput, .ff-register-page input.ff-register-fieldinput,
.ff-forgot-page input.ff-forgot-fieldinput, .ff-changepass-page  input.ff-changepass-fieldinput,
.ff-forgotset-page input.ff-forgotset-fieldinput{
    width: 100%;
    margin-top: 2%;
    padding: 0 10px 0 10px;
    height: 50px;
    font-family: defaultFont;
    font-size: 16pt;
    color: #0062ac;
    text-align: center;
    background: url(../images/input.png) no-repeat;
    background-size: 100% 100%;
    border: none;
    outline: none;
}
.ff-icon-comic {
    width: 40%;
}
.ff-panel-warp {
    width: 100%;
    max-height: 40%;
    height: 100%;
    height: -webkit-fill-available;
}
