@media (min-width: 560px) and (orientation: landscape) {
    .ff-main{
        width: 100%;
        height: 100%;
    }
    .ff-portrait{
        display: none;
    }
    .ff-landscape{
        background: #66cef2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }
    .ff-landscape-text{
        color: #FFF;
        font-size: 3vw;
        display: block;
        margin: 0 0 4% 0;
        background: url('/../images/checked-true-symbol.png');
    }
 }

 @media (orientation: portrait) {
    .ff-portrait{
        display: block;
        overflow-y: hidden;
    }
    .ff-landscape, .ff-landscape-text{
        display: none;
    }
 }

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .ff-login-page, .ff-register-page, .ff-forgot-page, .ff-changepass-page, .ff-forgotset-page,
     .ff-gallery-page, .ff-story-page {
        max-width: 420px;
        float: left;
        left: 25%;
        left: 40%;
    }
    /* .ff-wrap-gallery{
        max-width: 300px;
        padding: 10%;
    } */
}


/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) and (orientation: portrait){

    .ff-panel-warp {
        max-height: 50%;
    }
}



/* Portrait - iPad Pro */
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {

    nav.ff-header {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        /* max-height: 12%; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        /* background: rgb(74, 209, 250); */
        background: #6dcef0;
        -webkit-box-shadow: 0px 4px 20px 0px rgba(79, 79, 79, 0.1);
        /* box-shadow: 0px 4px 20px 0px rgba(79, 79, 79, 0.1); */
        padding: 10px 20px;
    }
    .list-item__title{
        font-size: 4vw;
        height: 50px;
        margin: 0 0 0 -2%;
    }

    .ff-story-title{
        text-align: center;
        margin: 0 0 0 -2%;
    }
}

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px / iPadbtn-login
*/

@media (min-width: 768px) and (max-width: 1024px) {
    @media(width: 800px) {
        .ff-panel-warp {
            max-height: 42% !important;
        }
    }
    .ff-login-page input.ff-loginpage-fieldinput, .ff-register-page input.ff-register-fieldinput,
    .ff-forgot-page input.ff-forgot-fieldinput, .ff-changepass-page  input.ff-changepass-fieldinput,
    .ff-forgotset-page input.ff-forgotset-fieldinput {
        height: 70px;
        width: 100%;
    }
    .ff-login-page, .ff-register-page, .ff-forgot-page, .ff-changepass-page, .ff-forgotset-page,
     .ff-gallery-page {
        font-size: 24pt;
    }

    .ff-gallery-page img.title-login-page {
        width: 50%;
    }

    .ff-panel-warp {
        max-height: 50%;
    }
    .title-login-page{
        /* margin-top: -4%; */
        margin-top: -14%;
    }
    .ff-story-page {
        font-size: 14pt;
    }
    .ff-story-page .ff-footer {
        font-size: 24pt;
    }
    .ff-story-page .ff-header .icon-header{
        width: 5%;
    }
    .ff-story-page .center {
        margin-left: 40% !important;
    }
    .ff-icons-gallery {
        flex: 0 0 28%;
        max-width: 70%;
    }

    .ff-gallery-page .ff-wrap-gallery {
        width: 60%;
        height: auto;
        background-size: 100% 100%;
        padding: 7%;
    }
    .ff-display-middle{
        align-content: center;
        justify-content: center;
        top:44%;
    }
    img.btn-login{
        top: 0;
        width: 80%;
        position: relative;
    }
    .ff-form-panel{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
    .list-item__title{
        font-size: 4vw;
        min-height: 30px;
    }

    .ff-story-title{
        text-align: center;
        margin: 0 0 0 -1%;
    }

    .ff-section-bot{
        width: 100%;
        -ms-flex-line-pack: center;
        align-content: center;
        margin-left: 0;
    }

    button.btn-login{
        margin-left: 50px;
    }
    .ff-gallery-arrow-prev {
      width: 8% !important;
      height: auto !important;
      margin-left: 10% !important;
    }
    .ff-gallery-arrow-next {
      width: 8% !important;
      height: auto !important;
      margin-right: 10% !important;
      margin-top: -20px !important;
    }
    #ff-button-character {
      width: 54% !important;
      margin-top: 50% !important;
      -webkit-transform: translate(42%, 0%) !important;
      transform: translate(42%, 0%) !important;
    }
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 321px) and (max-width: 480px) {
    .ff-panel-warp {
        max-height: 42%;
    }
    .ff-gallery-page img.title-login-page {

        width: 67%;
    }
    #ff-button-character {
      margin-top: 59.5% !important;
    }

}
@media (max-width: 320px) {
    .ff-panel-warp {
        max-height: 45%;
    }
}
@media (max-width: 320px) and (min-height: 533px) and (max-height: 568px) {
    .ff-panel-warp {
        max-height: 39%;
    }
}
@media (max-width: 362px) and (min-height: 569px) and (max-height: 641px) {
    .ff-panel-warp {
        max-height: 37%;
    }
    #ff-button-character {
      margin-top: 54% !important;
    }
}


@media (max-width: 379px) and (min-height: 668px) and (max-height: 812px) {
    .ff-panel-warp {
        max-height: 32%;
    }

    #ff-button-character {
      margin-top: 56.5% !important;
    }
}


@media (max-width: 412px) and (min-height: 813px) and (max-height: 824px) {
    .ff-panel-warp {
        max-height: 35%;
    }

}

@media (max-width: 481px) and (min-height: 813px) and (max-height: 855px) {
    .ff-panel-warp {
        max-height: 36%;
    }
}
