* {
    box-sizing: border-box;
}

body{
    /* background-image:  url(../images/background_login.png); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: contain; */
    margin: 0;
    position: fixed;
    font-family: 'ArialRounded';
}
.panel-forgot{
    margin-top: 12vh;
    width: 100%;
}
.bg-forgot{
    object-fit: cover;
    width: 100%;
    height: auto;
    right: -3px;
    bottom: 0;
    position: absolute;
}

input.forgot{
    width: 80%;
    height: 50px;
    padding: 4px 16px;
    margin: 8px auto;
    font-family: 'ArialRounded';
    font-size: 14pt;
    color: #0062ac;
    text-align: center;
    background: url(../images/input.png) no-repeat;
    background-size: 100% 100%;
    border: none;
    outline: none;
    /* -webkit-border-radius: 2em / 5em;
    -moz-border-radius: 2em / 5em;
    border-radius: 2em / 5em;
    border-style: solid;
    border-color: #0099ff; */
}

.brand-forgot{
    top:0;
    left:0;
    position: fixed;
    width: 30%;
}

.title-forgot{
    position: relative;
    max-width: 50%;
    text-align: center;
    width: 45%;
    margin: 20% 0 0 27%;
}
.label-forgot{
    font-family: 'ArialRounded';
    font-size: 10pt;
}
.margin-left-forgot{
    margin-left: 3vw;
}
.txt-white{
    color: rgb(255, 255, 255);
}
.btn-forgot{
    margin-top: 10px;
    width: 60%;
}

@font-face {
    font-family: 'ArialRounded';
    src: url(' + require('@/assets/ARIAL_ROUNDED_MT_EXTRABOLD.TTF') + '); /* IE9 Compat Modes */
    src: url(' + require('@/assets/ARIAL_ROUNDED_MT_EXTRABOLD.TTF') + ') format('truetype'), /* IE6-IE8 */
         url(' + require('@/assets/ARIAL_ROUNDED_MT_EXTRABOLD.TTF') + ') format('truetype'), /* Super Modern Browsers */
         url(' + require('@/assets/ARIAL_ROUNDED_MT_EXTRABOLD.TTF') + ') format('truetype'), /* Pretty Modern Browsers */
         url(' + require('@/assets/ARIAL_ROUNDED_MT_EXTRABOLD.TTF') + ')  format('truetype'), /* Safari, Android, iOS */
         url(' + require('@/assets/ARIAL_ROUNDED_MT_EXTRABOLD.TTF') + ') format('truetype'); /* Legacy iOS */
}
.center-forgot {
    position: relative;
    /* width: 100%; */
    text-align: center;
    font-size: 18px;
    height: 100vh;
}

.form-center-forgot{
    width: 100%;
    margin: auto;
    margin-top: 16px;
    /* padding: 32px 40px 0 40px; */
}

.font-small{
    font-size: 12px;
}

.font-medium{
    font-size: 14px;
}

.link-blue{
    cursor: pointer;
    border: 0;
    text-decoration: none;
    color: #139ae5;
}

.reset{
    clear: both;
    text-align: center;
}

.margin-top-forgot{
    margin-top: 4px;
}

.margin-bottom{
    margin-bottom: 8px;
}

.align-left{
    text-align: left;
}

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    body{
        width: 33%;
        background: none;
    }
    .panel{
        width: 33.3%;
        background: black;
    }
    .margin-left{
        margin-left: 10vw;
    }

}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .title-forgot{
    }

    .center{
        margin-top: 4vh;
    }

    input-forgot{
        height: 20%;
        width: 50%;
        text-align: center;
        font-size: 4vw;
    }

    .margin-left{
        margin-left: 27vw;
    }
    .label-forgot{
        font-size: 3vw;
    }

    .btn-forgot {
        width: 50%;
        margin: 2% 0 0 27%;
    }

    .font-small{
        font-size: 2vw;
    }

    .margin-top{
        margin-top: 2vh;
    }

    .margin-bottom{
        margin-bottom: 2vh;
    }

}

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px / iPad
*/

@media (min-width: 768px) and (max-width: 1024px) {
    /* .title-forgot{
        position: relative;
        text-align: center;
        width: 35%;
        margin: 20% 0 0 33%;
    } */
    .center-forgot{
        font-size: 16pt;
        height: 100vh;
        width: 100vw;
    }
    .form-center-forgot{
        width: 100vw;
        /* margin-top: 20vh; */
        margin: 4vh auto 0 15%;
        /* padding: 32px 40px 0 40px;*/
        text-align: center;
    }

    .label-forgot{
        font-size: 16pt;
    }

    input.forgot{
        height: 88px;
        width: 70%;
        text-align: center;
        font-size: 4vw;
    }

    a{ clear: both;}

    .btn-forgot{
        /* margin: 18px 0 0 10vw; */
        /* width: 45%; */
    }
    .font-small{
    font-size: 20px;
    }

    .margin-left-forgot{
        margin-left: 17vw;
    }
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .title-forgot{
        position: relative;
        text-align: center;
        width: 20%;
        margin: 25% 0 0 33%;
    }
    .center-forgot{
        font-size: 12px;
        height: 100vh;
        width: 100vw;
    }
    .form-center-forgot{
        width: 100vw;
        /* margin: 4vh auto 0 15%; */
        /* padding: 32px 40px 0 40px;*/
        text-align: center;
    }
    .label-forgot{
        font-size: 16pt;
    }

    input.forgot{
        height: 88px;
        width: 70%;
        text-align: center;
        font-size: 4vw;
    }

    a{ clear: both;}
    .btn-forgot{
        margin: 18px 0 0 10vw;
        width: 50vw;
    }
    .font-small{
    font-size: 20px;
    }
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 479px) {
    .bg-forgot{
        object-fit: cover;
        width: 100%;
        height: auto;
        right: 0;
        bottom: 0;
        position: absolute;
    }
    .center-forgot{
        font-size: 12pt;
    }
    .form-center-forgot{
        width: 100%;
        padding: 40px 20px 0 20px;
    }
    input.forgot{
        width: 80%;
        height: 56px;
        padding: 4px 16px;
        margin: 8px auto;
    }
    .label-forgot{
     font-family: 'ArialRounded';
     font-size: 12pt;
    }
    .margin-left-forgot{
        margin-left: 12vw;
    }
    .panel{
        margin-top: 1000px;
    }
}
