/* General */
@font-face {
    font-family: defaultFont;
    src: url("../assets/ARIAL_ROUNDED_MT_EXTRABOLD.TTF");
  }
*,
*:before,
*:after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.with-header {
    padding-top: 70px;
}

body.with-footer {
    padding-bottom: 70px;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
}

/* Structure Components */
.body {
    margin: 0 20px;
    font-family: defaultFont;
}

.body > * {
    margin: 10px 0;
}

.stack {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 20px;
    align-items: center;
}

.stack > * {
    margin: 10px 0;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row > * {
    margin: 10px 10px;
}

.row > *:first-child {
    margin-left: 0;
}

.row > *:last-child {
    margin-right: 0;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background: rgb(74, 209, 250); */
    background: #6dcef0;
    box-shadow: 0px 4px 20px 0px rgba(79, 79, 79, 0.1);
    padding: 10px 20px;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background: rgb(74, 209, 250); */
    background: #6dcef0;
    box-shadow: 0px -4px 20px 0px rgba(79, 79, 79, 0.1);
    padding: 10px 20px;
}

/* Typography */
p,
.label {
    font-family: defaultFont;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    /* color: #4f4f4f; */
    color: #FFF;
}

/* Icons */
.fa {
    display: block;
    font-size: 20px;
    color: #171717;
    cursor: pointer;
}

/* Buttons */
.button {
    display: block;
    padding: 10px 20px;
    font-family: defaultFont;
    font-size: 0.85rem;
    color: #fff;
    border-radius: 0px;
    background: #aaa;
    border: 0;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.button .fa {
    color: #fff;
}

a .button {
    width: 100%;
}

/* Images */
.image {
    display: block;
    height: 30px;
    width: 30px;
    /* background: #e2e2e2; */
    border: 0;
    align-self: center;
}

.image.image-rectangle {
    border-radius: 0px;
}

.image.image-circle {
    border-radius: 50%;
}

/* Input Control */
.input-field {
    display: block;
    font-family: defaultFont;
    letter-spacing: 0px;
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid #aaa;
}

/* Checkbox Control */
.checkbox {
    display: block;
    position: relative;
    height: 20px;
    width: 20px;
    border: 1px solid #aaa;
    color: #aaa;
    border-radius: 3px;
    cursor: pointer;
}

.checkbox::before {
    display: none;
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 0.85em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox.checked::before {
    display: block;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

/* Switch Control */
.switch {
    display: block;
    position: relative;
    height: 24px;
    width: 50px;
    border-radius: 12px;
    box-shadow: 0px 2px 15px 0px rgba(79, 79, 79, 0.2);
    cursor: pointer;
}

.switch::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: #aaa;
    border-radius: 50%;
    transition: left 0.2s;
}

.switch.checked::before {
    left: calc(100% - 20px);
}

.switch input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

/* Radio Control */
.radio {
    display: block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0px 2px 15px 0px rgba(79, 79, 79, 0.2);
    cursor: pointer;
}

.radio::before {
    content: "";
    display: none;
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background-color: #aaa;
    border-radius: 50%;
}

.radio.checked::before {
    display: block;
}

.radio input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

/* Slider Control */
.slider {
    display: block;
}


/* Addition */
.img-mirror{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.button-scan{
    border: 0;
    background: transparent;

}

.flex-container {
    padding: 0;
    margin: 0;
    flex-direction: row;
    list-style: none;
    display: flex;
  }

  .center{
      justify-content: center;
  }

  .stack-row {
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 20px;
  }

    .background-login{
      /* background: url("../images/background_login.png") no-repeat; */
      background-size: contain;
      background-position: center;
      position: relative;
  }


  .box{
    width: 69px;
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .link{
	  cursor: pointer;
	  display: inline;
	  float: left;
  }

  .image-brand {
    background: url("../images/logo_frisian_flag.png") 100% 100% no-repeat;
    width: 20%;
    height: 20%;
    border: 0;
}

.flex-center{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
}

.flex-column {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    margin: 0 20px;
}
/* .class{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: space-between;
} */