* {
    box-sizing: border-box;
}

body{
    background-image: url(../images/background_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    margin: 0;
    position: fixed;
    font-family: 'ArialRounded';
}
.panel-setting-password{
    width: 100%;
}
.bg-setting-password{
    object-fit: cover;
    width: 100%;
    height: auto;
    right: 0;
    bottom: 0;
    position: absolute;
}

input.setting-password{
    width: 70%;
    height: 40px;
    padding: 4px 16px;
    margin: 8px auto;
    font-family: 'ArialRounded';
    font-size: 16pt;
    color: #0062ac;
    text-align: center;
    background:  url(../images/input.png) no-repeat;
    background-size: 100% 100%;
    border: none;
    outline: none;
    /* -webkit-border-radius: 3em / 6em;
    -moz-border-radius: 3em / 6em;
    border-radius: 3em / 6em;
    border-style: solid;
    border-color: #0099ff; */
}

.brand-setting-password{
    top:0;
    left:0;
    position: fixed;
    width: 30%;
}

.title-setting-password{
    position: relative;
    max-width: 50%;
    text-align: center;
    width: 45%;
    margin: 20% 0 0 27%;
}
.label-setting-password{
    font-family: 'ArialRounded';
    font-size: 14px;
}
.margin-left-setting-password{
    margin-left: 17vw;
}
.txt-white{
    color: rgb(255, 255, 255);
}
.btn-login-setting-password{
    margin-top: 10px;
    width: 50%;
}

@font-face {
    font-family: 'ArialRounded';
    src: url(../assets/ARIAL_ROUNDED_MT_EXTRABOLD.TTF); /* IE9 Compat Modes */
    src: url(../assets/ARIAL_ROUNDED_MT_EXTRABOLD.TTF) format('truetype'), /* IE6-IE8 */
         url(../assets/ARIAL_ROUNDED_MT_EXTRABOLD.TTF) format('truetype'), /* Super Modern Browsers */
         url(../assets/ARIAL_ROUNDED_MT_EXTRABOLD.TTF) format('truetype'), /* Pretty Modern Browsers */
         url(../assets/ARIAL_ROUNDED_MT_EXTRABOLD.TTF)  format('truetype'), /* Safari, Android, iOS */
         url(../assets/ARIAL_ROUNDED_MT_EXTRABOLD.TTF) format('truetype'); /* Legacy iOS */
}
.center-setting-password {
    position: relative;
    /* width: 100%; */
    text-align: center;
    font-size: 18px;
    height: 100vh;
}

.form-center-setting-password{
    width: 100%;
    margin: auto;
    margin-top: 16px;
    /* padding: 32px 40px 0 40px; */
}

.font-small-setting-password{
    font-size: 12px;
}

.link-blue{
    cursor: pointer;
    border: 0;
    text-decoration: none;
    color: #139ae5;
}

.reset{
    clear: both;
    text-align: center;
}

.margin-top-setting-password{
    margin-top: 4px;
}

.margin-bottom-password{
    margin-bottom: 8px;
}

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    html {
        background: none;
        margin: 0 auto;
        width: calc(100% /3);
        height: 100%;
        max-height: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        top:0;
        bottom:0;
        left:0;
        right:0;
        zoom: reset;
        /* position: relative;
        left: 50%;
        transform: translate(-50%, -50%); */

    }
    ::-webkit-scrollbar {
        display: none;
    }
    body{
        background: none;
        width: 100%;
        height: auto;
        max-height: 100%;
        /* margin-left: calc(100vw /3);
        margin-right: calc(100vw /3); */
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        zoom: reset;
    }
    .panel-setting-password{
        /* width: 100%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%); */
        width: calc(100%);
        background: #000;
    }

    .bg-setting-passsword{
        /* width: 30%;
        height: 100vh;
        background-image:url("../images/background_login.png");
        background-size:   contain;
        background-repeat:   no-repeat;
        background-position: center bottom;
        overflow: scroll;
        position: relative;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

    .brand-setting-password{
        /* top:0;
        left:50%;
        transform: translate(-50%, -50%);
        position: fixed;
        width: 20%; */
        width: 25%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 2%;
    }

    .title-setting-password{
        left: 50%;
        position: relative;
        transform: translate(-50%, -50%);
        margin: 15vh 0 0 0;
        width: 70%;
    }

    .center-setting-password{
        margin-top: 0vh;
    }

    .form-login-setting-password{
        margin-top: -100px;
    }

    .form-center-setting-password{
        width: 100%;
        padding: 0 20px 0 20px;
    }

    input.setting-password{
        height: 64px;
        width: 70%;
        text-align: center;
        font-size: 150%;
        /* -webkit-border-radius: 2em / 5em;
        -moz-border-radius: 2em / 5em;
        border-radius: 2em / 5em;
        border-style: solid;
        border-color: #0099ff; */
    }

    .margin-left-setting-password{
        margin-left: 18%;
    }
    .label-setting-password{
        font-size: 3vw;
    }

    .btn-login-setting-password {
        width: 50%;
    }

    .font-small-setting-password{
        font-size: 2vw;
    }

    .margin-top{
        margin-top: 2vh;
    }

    .margin-bottom{
        margin-bottom: 2vh;
    }
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1024px) and (max-width: 1280px) {
    .title-setting-password{
    }

    .center-setting-password{
        margin-top: 4vh;
    }

    input.setting-password{
        height: 80px;
        width: 50%;
        text-align: center;
        font-size: 4vw;
        /* -webkit-border-radius: 2em / 5em;
        -moz-border-radius: 2em / 5em;
        border-radius: 2em / 5em;
        border-style: solid;
        border-color: #0099ff; */
    }

    .margin-left-setting-password{
        margin-left: 27vw;
    }
    .label-setting-password{
        font-size: 3vw;
    }

    .btn-login-setting-password {
        width: auto !important;
        margin: 5% 0 0 75%;
    }

    .font-small-setting-password{
        font-size: 2vw;
    }

    .margin-top-setting-password{
        margin-top: 2vh;
    }

    .margin-bottom-setting-password{
        margin-bottom: 2vh;
    }

}

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px / iPad
*/

@media (min-width: 768px) and (max-width: 1023px) {
    .title-setting-password{
        position: relative;
        text-align: center;
        width: 35%;
        margin: 16% 0 0 33%;
    }
    .center-setting-password{
        font-size: 12px;
        height: 100vh;
        width: 100vw;
    }
    .form-center-setting-password{
        width: 100vw;
        margin-top: 20px;
        /* margin: 4vh auto 0 15%; */
        /* padding: 32px 40px 0 40px;*/
        text-align: center;
    }

    .label-setting-password{
        font-size: 24px;
    }

    input.setting-password{
        height: 88px;
        width: 70%;
        text-align: center;
        font-size: 4vw;
        /* -webkit-border-radius: 2em / 5em;
        -moz-border-radius: 2em / 5em;
        border-radius: 2em / 5em;
        border-style: solid;
        border-color: #0099ff; */
    }

    a{ clear: both;}
    .btn-login-setting-password{
        /* margin: 18px 0 0 10vw; */
        /* width: 45%; */
        width: auto !important;
        margin: 2% 0 0 23vw;
    }

    .font-small-setting-password{
    font-size: 20px;
    }

    .margin-left-setting-password{
        margin-left: 17vw;
    }
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .title-setting-password{
        position: relative;
        text-align: center;
        width: 20%;
        margin: 25% 0 0 33%;
    }
    .center-setting-password{
        font-size: 12px;
        height: 100vh;
        width: 100vw;
    }
    .form-center-setting-password{
        width: 100vw;
        margin: 4vh auto 0 15%;
        /* padding: 32px 40px 0 40px;*/
        text-align: center;
    }

    .label-setting-password{
        font-size: 24px;
    }

    input.setting-password{
        height: 88px;
        width: 70%;
        text-align: center;
        font-size: 4vw;
        /* -webkit-border-radius: 2em / 5em;
        -moz-border-radius: 2em / 5em;
        border-radius: 2em / 5em;
        border-style: solid;
        border-color: #0099ff; */
    }

    a{clear: both;}
    .btn-login-setting-password{
        margin: 18px 0 0 10vw;
        width: 50vw;
    }
    .font-small-setting-password{
    font-size: 20px;
    }
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 340px) and (max-width: 480px) {
    .bg-setting-password{
        object-fit: cover;
        width: 100%;
        height: auto;
        right: 0;
        bottom: 0;
        position: absolute;
    }
    .center-setting-password{
        font-size: 12px;
    }
    .form-center-setting-password{
        width: 100%;
        padding: 20px 20px 0 20px;
    }
    input.setting-password{
        width: 80%;
        height: 56px;
        padding: 4px 16px;
        margin: 8px auto;
    }
    /* -webkit-border-radius: 3em / 6em;
    -moz-border-radius: 3em / 6em;
    border-radius: 3em / 6em;
    border-style: solid;
    border-color: #0099ff; */
    .margin-left-setting-password{
        margin-left: 12vw;
    }
    .title-setting-password{
        /* left: -30%;
        top: -30px;
        width: 42%; */
    }

    .label-setting-password{
     font-family: 'ArialRounded';
     font-size: 16px;
    }
    .margin-left-setting-password{
        margin-left: 12vw;
    }
}
