html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: defaultFont;
	position: relative;
	display: block;
}

.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

#upload-button {
	width: 150px;
	display: block;
	margin: 20px auto;
}

#file-to-upload {
	display: none;
}

#pdf-header {
	/* width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between; */
	background: rgb(74, 209, 250);
	height: 15%;

	 /* or absolute */
	/* text-align: center;
	font-style: bold;
	vertical-align: middle;
	text-align: "Episode1";
	color: #FFF; */

}

.title{
	flex: 1;
}

#pdf-main-container {
	width: 100%;
	height: auto;
	position: relative; /* or absolute */
	text-align: center;
	/* background-color: #222; */
	/* margin: 20px auto; */
	display: flex;
	flex-direction: column;
	z-index: -1;
}

#pdf-loader {
	display: none;
	text-align: center;
	color: #999999;
	font-size: 13px;
}

#pdf-contents {
	display: block;
}

#pdf-meta {
	overflow: hidden;
	margin: 0 0 20px 0;
}

#pdf-buttons {
	float: left;
}

#page-count-container {
	float: left;
}

#pdf-current-page {
	display: inline;
}

#pdf-total-pages {
	display: inline;
}

#pdf-canvas {
	border: 0px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
}

#page-loader {
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	color: #999999;
	font-size: 13px;
}

#download-image {
	width: 150px;
	display: block;
	margin: 20px auto 0 auto;
	font-size: 13px;
	color: #FFF;
	text-align: center;
}

.pdf-footer{
	height: 32px;
	display: block;
	text-align: center;
	position: relative;
	padding: 16px;
	font-size: 20px;
	text-align: center;
	color: #FFF;
	z-index: 1;
}

#pdf-prev, #pdf-first, #pdf-last, #pdf-story-prev, #pdf-story-next{
	/* background: url("./images/ASET-18.png") no-repeat;
	cursor:pointer;
  border:none;
	background-size:20% auto;
	padding: 10%;
	text-align: center; */
	cursor:pointer;
	border:none;
}

#pdf-next{
	/* background: url("./images/ASET-18.png") no-repeat;
	cursor:pointer;
  border:none;
	background-size:20% auto;
	padding: 10%;
	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
	text-align: center;
	vertical-align: middle; */
	cursor:pointer;
	border:none;
}

#header-height{
	height: 8%;
	background: rgb(74, 209, 250);
}

@media screen and (max-width: 320px) {
	#pdf-main-container {
		width: 320px;
	}
}
