/* #For main css 
#Start */
@font-face {
    font-family: defaultFont;
    src: url("../assets/ARIAL_ROUNDED_MT_EXTRABOLD.TTF");
  }
body{
    font-family: defaultFont;
}
/* #END */

.page-login {
    overflow: hidden;
}
.img-bg{
    background-image: url(../images/background_login.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    position: relative;
    font-family: defaultFont;
}
.form-lg{
    width: 80%;
    position: absolute;
    top: 30%;
}
.ctr-log {
    width: 100%;
    height: -webkit-fill-available;
}

.brand-login{
    width: 10%;
    position: absolute;
}
.title-login{
    width: 17%;
    position: absolute;
    left: 15%;
    top: 18%;
}
.btn-login{
    width: 30%;
    position: absolute;
    left: 14%;
    margin-top: 2%;
}
.label{
    font-family: defaultFont;
    font-size: 14px;
}

.margin-left-login{
    margin-left: 5vw;
}

.ff-centered{
    position: relative;
}
.section-bot{
    margin-top: 19%;
    margin-left: 27%;
}
input.login{
    width: 45%;
    height: 58px;
    padding: 4px 14px;
    margin: 7px auto;
    margin-left: 60px;
    margin-top: 5px;
    font-family: defaultFont;
    font-size: 16pt;
    color: #0062ac;
    text-align: center;
    background: url(../images/input.png) no-repeat;
    background-size: 100% 100%;
    border: none;
    outline: none;
    /* -webkit-border-radius: 3em / 6em;
    -moz-border-radius: 3em / 6em;
    border-radius: 3em / 6em;
    border-style: solid;
    border-color: #0099ff; */
}


/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .img-bg {
        background-size: 500px 100%;
    }
    .ff-centered{
        margin-left: 30%;
    }
    .section-bot {
        margin-top: 11%;
        margin-left: 18%;
    }

    
}
/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .img-bg {
        background-size: 500px 100%;
    }
    .ff-centered{
        margin-left: 30%;
    }
    .section-bot {
        margin-top: 11%;
        margin-left: 18%;
    }
}



/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px / iPad
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .img-bg {
        background-size: 100% 100%;
    }
    .brand-login{
        width: 20%;
    }
    .form-lg{
        width: 100%;
        margin-left: 15%;
    }
    label.label{
        font-size: 40px;
        margin-bottom: 5px;
        margin-left: 7%;
    }
    input.login {
        width: 61%;
        height: 100px;
        font-size: 35pt;
    }
    .title-login {
        width: 30%;
        left: 37%
    }
    .btn-login {
        width: 40%;
        left: 17%;
    }
    .section-bot {
        margin-top: 16%;
        margin-left: 19%;
        font-size: 16pt;
    }
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .img-bg {
        background-size: 100% 100%;
    }
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 340px) and (max-width: 480px) {
    .img-bg {
        background-size: 100% 100%;
    }
    .brand-login {
        width: 30%;
    }
    .title-login {
        width: 42%;
        left: 28%;
        top: 17%;
    }
    input.login {
        width: 100%;
        height: 45px;
        font-size: 10pt;
    }
    label.label {
        font-size: 12pt;
        margin-left: 22%;
    }
    .btn-login {
        width: 55%;
        left: 33%;
    }
    .section-bot {
        left: 22%;
    }
}

/*
##Device = Low Resolution Mobiles (Portrait)
##Screen = B/w 339px
*/
@media (max-width: 339px) {
    .img-bg {
        background-size: 100% 100%;
    }
    .brand-login {
        width: 25%;
    }
    .title-login {
        width: 32%;
        left: 35%;
    }
    label.label {
        font-size: 14px;
        margin-left: 25%;
    }
    input.login {
        width: 80%;
        height: 32px;
    }
    .btn-login {
        width: 55%;
        left: 34%;
        margin-top: 0;
    }
    .section-bot {
        left: 25%;
        top: 70%;
        font-size: 9pt;
    }
}