<template>
  <div>
   <vue-headful
        v-bind:title="title"
        description="page login"

    />
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import { apiRouter } from './../api-routing.js';
import VueSweetalert2 from 'vue-sweetalert2';

var CryptoJS = require("crypto-js");
// var secret = 'monster-ar-token';

Vue.use(VueSweetalert2);

export default {
  name: 'app',
  data () {
    return {
      title : 'Lupa Password',
      codeConfirm: this.$route.params.code_confirm,
      email : this.$route.params.email,
    }
  },
  created(){
    const formData = new FormData();
    formData.append('email', this.email);
    formData.append('code_password_reset', this.codeConfirm);

    const header = {
        // headers: {
        //   'Accept' :'application/json',
        // }
    };

    axios.post(apiRouter().forgot_password_confirm, formData, header)
    .then((response) => {
      console.log(response);
        if(response.status === 200){
          if(response.data.code === 1){
            // let responseData = JSON.stringify(response.data.data);
            let ciphertext = CryptoJS.AES.encrypt(JSON.stringify(response.data.data), process.env.SECRET_KEY);
            localStorage.setItem('tokenTemp', window.btoa(ciphertext));
            // let ciphertext = CryptoJS.AES.encrypt(responseData, secret);
            // localStorage.setItem('tokenTemp', ciphertext);
            // localStorage.setItem('tokenTemp', JSON.stringify(response.data.data));
            this.$router.push({name: 'forgot-setting'});
          }else{
            this.$swal(response.data.messages);
            this.$router.push({name: 'login'});
          }
        }
    })
    .catch((error) => {
      console.log(error);
    });
  }
}
</script>
