<template>
  <div class="pdf-paginator">
    <template v-if="pageCount">
      <div style="
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;">
        <input
        style="width: 70%; margin-right:10px"
          :value="value"
          @input="input"
          min="1"
          :max="pageCount"
          type="number"
          /> / <span style="margin-left: 5px">{{ pageCount }}</span>
      </div>
    </template>
    <input v-else type="number" />
  </div>
</template>

<script>
export default {
  name: 'PDFPaginator',

  props: {
    value: Number,
    pageCount: Number,
  },

  methods: {
    input(event) {
      this.$emit('input', parseInt(event.target.value, 10));
    },
  },

  watch: {
    pageCount() {
      this.$emit('input', 1);
    },
  }
}
</script>

<style>
.pdf-paginator {
  color: white;
  font-weight: bold;
}
.pdf-paginator input {
  width: 2em;
  padding: 0.3em;
}
</style>
