<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import { apiRouter } from './api-routing.js'

Vue.mixin({
  data: function() {
    return {
      urlRedirect : 'https://www.frisianflag.com/'
    }
  },
  mounted(){
    axios.get(apiRouter().url_redirect)
    .then((response) => {
      if(response.status === 200){
        if(response.data.code === 1){
          this.urlRedirect = response.data.data.url
        }
      }
    })
    .catch( (error) => {
        console.log(error)
    });
  }
});

export default {
  data () {
    return{

    }
  },
}
</script>
<style>
  @import 'https://unpkg.com/onsenui/css/onsenui.css';
  @import 'https://unpkg.com/onsenui/css/onsen-css-components.min.css';
  @import './assets/css/ff-style.scss';
  @import './assets/css/ff-bg.scss';
  @import './assets/css/ff-media.css';
</style>
