<template>
  <div class="ff-changepass-page" v-bind:style="{ backgroundImage: 'url(' + require('@/assets/images/background_login.png') + ')' }">
    <vue-headful
        v-bind:title="title"
        description="page setting forgot password"
    />
    <div class="ff-panel">
      <!-- <img class="bg-setting-password" alt="background" :src="require('@/assets/images/background_login.png')"> -->
      <img class="ff-display-topleft ff-brand" alt="LOGO" :src="require('@/assets/images/logo_frisian_flag.png')">
      <img class="title-login-page ff-display-topmiddle" alt="TITLE" :src="require('@/assets/images/title_sign_up.png')">

      <div class="ff-display-middle ff-form-panel">
          <form name="form-setting-password" @submit='settingNewPassword'>
              <div class="form-cente-setting-password">
                <v-ons-row><label class="ff-font-white">Password Lama</label></v-ons-row>
                <v-ons-row><input class="ff-changepass-fieldinput" type="password" v-model="old_password" autocomplete="off" maxlength="16" required></v-ons-row>
                <v-ons-row><label class="ff-font-white">Password Baru</label></v-ons-row>
                <v-ons-row><input class="ff-changepass-fieldinput" type="password" v-model="new_password" autocomplete="off" maxlength="16" required></v-ons-row>
                <v-ons-row><label class="ff-font-white">Password Baru Konfirm</label></v-ons-row>
                <v-ons-row><input class="ff-changepass-fieldinput" type="password" v-model="new_password_confirm" autocomplete="off" maxlength="16" required></v-ons-row>
                <v-ons-row>
                    <button type="submit" style="border: 0; background: transparent; cursor: pointer; clear: both;">
                        <img class="btn-login" :src="require('@/assets/images/button_register.png')" alt="submit" />
                    </button>
                </v-ons-row>
              </div>
          </form>
      </div>
    </div>
  </div>
</template>

<style>
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://unpkg.com/onsenui/css/onsenui.css';
@import 'https://unpkg.com/onsenui/css/onsen-css-components.min.css'; */
/* @import './assets/css/setting-password.css'; */
</style>

<script>
import Vue from 'vue';
import axios from 'axios';
import { apiRouter } from './api-routing.js';
import { getIdToken } from './user/token.js';
import VueSweetalert2 from 'vue-sweetalert2';

Vue.use(VueSweetalert2);

export default {
  name: 'app',
  data () {
    return {
      title : 'Ubah Password',
      old_password : '',
      new_password : '',
      new_password_confirm : '',
    }
  },
  methods : {
    settingNewPassword(e) {
      e.preventDefault();
      const formData = new FormData();
      formData.append('old_password', this.old_password)
      formData.append('new_password', this.new_password)
      formData.append('new_password_confirm', this.new_password_confirm)

      //let token_type = 'Bearer'
      let access_token = getIdToken()
      if(access_token){
        const header = {
            // headers: {
            //   'Authorization' : token_type + ' '+ access_token,
            //   'Accept' :'application/json',
            // }
        };

        axios.post(apiRouter().change_password, formData, header)
        .then((response) => {
            if(response.status === 200){
              if(response.data){
                if(response.data.code === 1){
                  this.$swal('sukses merubah password');
                  this.$router.push({name: 'login'});
                }else{
                  this.$swal(response.data.messages);
                }
              }else{
                this.$swal('error');
              }
            }else{
              this.$swal(response.statusText);
            }
        })
        .catch((error) => {
          console.log(error)
        });
      }else{
        this.$swal('error');
        this.$router.push({name: 'Lupa Password'});
      }
    }
  }
}
</script>
