<template>
    <div class="container">
    <h3>Example</h3>
    <hr>
    <div id="app">
      <div class="card bg-light mb-4" @change="change">
        <div class="card-body">
          <div class="p-5 text-center">Drop image here or <input type="file" id="file" accept="image/jpeg,image/jpg,image/jpe,image/png,image/gif,image/webp,image/bmp,image/tiff" ref="input"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ImageCompressor from 'image-compressor.js';

// Vue.use(ImageCompressor);
export default {
    data () {
        var URL = window.URL || window.webkitURL;
        // var ImageCompressor = window.ImageCompressor;
        var vm = this;
        return {
            options: {
            checkOrientation: true,
            maxWidth: undefined,
            maxHeight: undefined,
            minWidth: 0,
            minHeight: 0,
            width: undefined,
            height: undefined,
            quality: 0.1,
            mimeType: '',
            convertSize: 5000000,
                success: function (file) {
                    console.log('Output: ', file);

                    if (URL) {
                    vm.outputURL = URL.createObjectURL(file);
                    }

                    vm.output = file;
                    vm.$refs.input.value = '';
                },
                error: function (e) {
                    window.alert(e.message);
                },
            },
            inputURL: '',
            outputURL: '',
            input: {},
            output: {},
        };
        
    },
    filters: {
      prettySize: function (size) {
        var kilobyte = 1024;
        var megabyte = kilobyte * kilobyte;

        if (size > megabyte) {
          return (size / megabyte).toFixed(2) + ' MB';
        } else if (size > kilobyte) {
          return (size / kilobyte).toFixed(2) + ' KB';
        } else if (size >= 0) {
          return size + ' B';
        }

        return 'N/A';
      },
    },
    methods: {
      compress: function (file) {
        if (!file) {
          return;
        }

        console.log('Input: ', file);

        if (URL) {
          this.inputURL = URL.createObjectURL(file);
        }

        this.input = file;
        new ImageCompressor(file, this.options);
      },

      change: function (e) {
        this.compress(e.target.files ? e.target.files[0] : null);
      }
    },
}
</script>

