<template>
    <div>
        <PDFViewer
            v-bind="{url}"
            @document-errored="onDocumentErrored"
            >
            <PDFUploader
                v-if="enableUploader"
                :documentError="documentError"
                @updated="urlUpdated"
                slot="header"
                class="header-item"
                />
        </PDFViewer>

        <!-- <iframe  width="100%" height="100%"></iframe> -->
        <!-- <vue-pdfjs url="http://mozilla.github.io/pdf.js/web/compressed.tracemonkey-pldi-09.pdf" :type="1"></vue-pdfjs> -->
        <!-- <embed src="./assets/mockup/eps1.pdf" width="100%" height="100%"> -->
    </div>
</template>


<script>
import PDFUploader from './components/PDFUploader.vue'
import PDFViewer from './components/PDFViewer.vue'
// process.env.VUE_APP_PDF_URL=
export default {
    components: {
        PDFUploader,
        PDFViewer,
    },
    data() {
        return {
        url:"https://cdn.filestackcontent.com/wcrjf9qPTCKXV3hMXDwK",
        documentError: undefined,
        enableUploader: process.env.VUE_APP_UPLOAD_ENABLED === 'true',
        };
    },

    methods: {
        urlUpdated(url) {
        this.documentError = undefined;
        this.url = url;
        },
        onDocumentErrored(e) {
        this.documentError = e.text;
        },
    },

}

</script>
