<template>
<div class="ff-main">
  <div class="ff-portrait">
  <div class="ff-forgotset-page" v-bind:style="{ backgroundImage: 'url(' + require('@/assets/images/background_login.png') + ')' }">
    <vue-headful
        v-bind:title="title"
        description="page setting forgot password"
    />
    <div class="panel-setting-password">
      <!-- <img class="bg-setting-password" alt="background" :src="require('@/assets/images/background_login.png')"> -->
      <a v-bind:href="urlRedirect"><img class="ff-display-topleft ff-brand" alt="background" :src="require('@/assets/images/logo_frisian_flag.png')"></a>
      <img class="title-login-page ff-display-topmiddle" alt="background" :src="require('@/assets/images/new_password.png')">

      <div class="ff-display-middle ff-form-panel">
          <form name="form-setting-password" @submit='doSettingPassword'>
              <div class="form-cente-setting-password">
                  <v-ons-row><label class="ff-font-white">Password</label></v-ons-row>
                  <v-ons-row><input class="ff-forgotset-fieldinput" type="password" v-model="password" autocomplete="off" maxlength="16" required></v-ons-row>
                  <v-ons-row><label class="ff-font-white">Password Konfirm</label></v-ons-row>
                  <v-ons-row><input class="ff-forgotset-fieldinput" type="password" v-model="password_confirm" autocomplete="off" maxlength="16" required></v-ons-row>
                  <v-ons-row>
                      <button type="submit" style="border: 0; background: transparent; cursor: pointer; clear: both;">
                          <img class="btn-login" :src="require('@/assets/images/button_send.png')" alt="submit" />
                      </button>
                  </v-ons-row>
              </div>
          </form>
      </div>
    </div>
  </div>
  </div>
    <div class="ff-landscape">
    <vue-headful
        v-bind:title="title"
        description="Forgot Setting Page"
    />
      <div class="ff-landscape-text">Aplikasi ini hanya dapat digunakan pada smartphone/tablet mode potret (portrait)</div>
      <img width="100" alt="background" :src="require('@/assets/images/icon-rotate.png')">
  </div>
  </div>
</template>

<style>
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://unpkg.com/onsenui/css/onsenui.css';
@import 'https://unpkg.com/onsenui/css/onsen-css-components.min.css'; */
/* @import './assets/css/setting-password.css'; */
</style>

<script>
import Vue from 'vue';
import axios from 'axios';
import { apiRouter } from './api-routing.js';
import { getIdTokenForgot, removeTokenForgot } from './user/token-forgot.js';
import VueSweetalert2 from 'vue-sweetalert2';

Vue.use(VueSweetalert2);

export default {
  name: 'app',
  data () {
    return {
      title : 'Lupa Password',
      password : '',
      password_confirm : '',
    }
  },
  mounted (){
    if('' == getIdTokenForgot()){
      this.$router.push('/forgot-password');
    }
  },
  methods : {
    doSettingPassword(e) {
      e.preventDefault();
      const formData = new FormData();
      formData.append('password', this.password);
      formData.append('password_confirm', this.password_confirm);

      // let token_type = 'Bearer';
      // let access_token = getIdTokenForgot();
      if(access_token) {
        // const header = {
        //     headers: {
        //       'Authorization' : token_type + ' '+ access_token,
        //       'Accept' :'application/json',
        //     }
        // };

        axios.post(apiRouter().forgot_password_setting, formData,header)
        .then((response) => {
            if(response.status === 200){
              if(response.data){
                if(response.data.code === 1){
                  removeTokenForgot();
                  this.$swal('sukses reset password, silahkan login');
                  this.$router.push({name: 'login'});
                }else{
                  this.$swal(response.data.messages);
                }
              }else{
                this.$swal('error');
              }
            }else{
              this.$swal(response.statusText);
            }
        })
        .catch((error) => {
            console.log(error);
        });
      } else {
        this.$swal('error');
        this.$router.push({name: 'Lupa Password'});
      }
    }
  }
}
</script>
