<template>
<div class="ff-main">
  <div class="ff-portrait">
  <div class="ff-forgot-page" v-bind:style="{ backgroundImage: 'url(' + require('@/assets/images/background_login.png') + ')' }">
   <vue-headful
        v-bind:title="title"
        description="page forgot password"

    />
    <div class=" ff-panel ">
      <!-- <img class="bg" alt="background" :src="require('@/assets/images/background_login.png')"> -->
      <a v-bind:href="urlRedirect"><img class="ff-display-topleft ff-brand" alt="background" :src="require('@/assets/images/logo_frisian_flag.png')"></a>
      <!-- <img class="title-login-page ff-display-topmiddle" alt="background" :src="require('@/assets/images/title_sign_in.png')"> -->

        <div class="ff-display-middle ff-form-panel">
            <form name="form-forgot" @submit='doForgetPassword'>
                    <v-ons-row><label class="ff-row ff-font-white ff-forgot-margin">Email</label></v-ons-row>
                    <v-ons-row><input class="ff-forgot-fieldinput" type="email" name="email" v-on:keyup="emailChange" v-model="email" autocomplete="off" maxlength="50" required></v-ons-row>
                    <v-ons-row><label class="ff-row ff-font-white ff-forgot-margin ff-label-info" style="width:100%">Masukan email yang kamu gunakan saat mendaftar</label></v-ons-row>
                    <v-ons-row style="margin-top: 4%;">
                        <button type="submit" style="border: 0; background: transparent; cursor: pointer; clear: both;" :disabled="isProcessing">
                            <img class="btn-login" :src="require('@/assets/images/button_send.png')" alt="submit" />
                        </button>
                    </v-ons-row>
            </form>
            <div class="ff-section-bot">
                <div class="ff-font-white ff-label-info">Kembali ke halaman
                    <router-link :to="{name: 'login'}"><span class="ff-link-blue">Masuk</span></router-link>
                </div>
            </div>
        </div>
    </div>
  </div>
    </div>
    <div class="ff-landscape">
    <vue-headful
        v-bind:title="title"
        description="Forgot Page"
    />
      <div class="ff-landscape-text">Aplikasi ini hanya dapat digunakan pada smartphone/tablet mode potret (portrait)</div>
      <img width="100" alt="background" :src="require('@/assets/images/icon-rotate.png')">
  </div>
  </div>
</template>


<style>
.ff-forgot-margin{
  margin-left: 10px;
}
.ff-label-info{
  font-size: 10pt;
}
</style>

<script>
import Vue from 'vue';
import axios from 'axios';
import { apiRouter } from './api-routing.js';
import { isEmailValid, stringOnly, tagPrevention } from './directives/input-validation.js';
import VueSweetalert2 from 'vue-sweetalert2';

Vue.use(VueSweetalert2);
export default {
  name: 'app',
  data () {
    return {
      email : '',
      title : 'Lupa Password',
      isProcessing: false
    }
  },
  methods : {
    doForgetPassword(e) {
      e.preventDefault();
      let link = window.location.origin;
      link = link+'/aktivitas-kami/duniazuzhu/e-comic/explore/forgot-password/confirm';

      if(!isEmailValid(this.email)){
        this.$swal("Maaf, penulisan email belum benar");
        return
      }

      const formData = new FormData();
      formData.append('email', stringOnly(this.email));
      formData.append('link', link);

      // const header = {
      //     headers: {
      //       'Accept' :'application/json',
      //     }
      // };

      this.isProcessing = true
      axios.post(apiRouter().forgot_password, formData,header)
      .then((response) => {
        this.isProcessing = false

        if(response.status === 200){
          if(response.data){
            if(response.data.code === 1){
              this.$swal('Permintaan reset password berhasil dikirim ke email');
            }else{
              this.$swal(response.data.messages);
            }
          }
        }else{
          this.$swal('error '+response.statustext);
        }
      })
      .catch(function (error) {
          this.isProcessing = false
          console.log(error)
      });
    },
    emailChange: function(evt){
      this.email = tagPrevention(evt, this.email, 2)
    }
  }
}
</script>
