<template>
<div class="ff-main">
  <loading :active.sync="isLoading"
       :can-cancel="false"
       :is-full-page="fullPage">
  </loading>
  <div id="testLoading" @click="hideLoder"></div>
  <input type="hidden" id="comicSeri" name="comicSeri" v-model="comicSeri">
  <div class="ff-portrait">
  <div class="ff-gallery-page" v-bind:style="{ backgroundImage: 'url(' + require('@/assets/images/background_login.png') + ')' }">
    <vue-headful
         v-bind:title="title"
         description="Gallery Page"
     />

        <div class="ff-panel">
          <!-- <img class="ff-display-topright ff-img-logout" alt="frisian-background" :src="require('@/assets/images/logout.png')" @click='logout'> -->
          <img v-if="isUserGuide == 1" class="ff-display-topright ff-img-help" alt="frisian-background" :src="require('@/assets/images/button_faq.png')" @click='userGuide'>
          <a v-bind:href="urlRedirect"><img class="ff-display-topleft ff-brand" alt="frisian-logo" :src="require('@/assets/images/logo_frisian_flag.png')"></a>
          <img class="title-login-page ff-display-topmiddle" alt="frisian-comic" :src="require('@/assets/images/title_comic_gallery.png')">

          <div class="ff-container">
            <div class="ff-panel-warp ff-display-middle">
              <div class="ff-row">
                <div class="ff-col m1">
                  <v-ons-icon @click="prev"><img class="ff-gallery-arrow-prev ff-display-left" alt="frisian-arrow-prev" :src="require('@/assets/images/gallery_arrow_next.png')"></v-ons-icon>
                </div>
                <div class="ff-col m10">
                  <div class="ff-display-middle ff-wrap-gallery" v-bind:style="{ backgroundImage: 'url(' + require('@/assets/images/background_gallery.png') + ')' }">
                  <v-ons-carousel :index.sync="carouselIndex" swipeable auto-scroll overscrollable  id="carousel" class="carousel-container">
                    <v-ons-carousel-item class=" wrap-gallery-item" v-for="item in segmentGalleries.segment" :key="JSON.stringify(item)">
                      <v-ons-row vertical-align class="ff-row-icons-gallery">
                        <v-ons-col class="ff-icons-gallery" v-for="data in item.data" :key="data.id">
                          <div style="cursor:pointer !important" >
                            <div v-if="data.is_event == 'openComic' ">
                              <img :src="data.image_thumbnail" style="vertical-align: unset;" class="box" alt="comic" @click="openComic(data)" />
                            </div>
                            <div v-else-if="data.is_event == 'scanProcess' ">
                              <img :src="data.image_thumbnail" style="vertical-align: unset;" @click="scanProcess(data)" class="box" alt="comic" />
                            </div>
                            <div v-else-if="data.is_event == 'commingSoon' ">
                              <img :src="data.image_thumbnail" style="vertical-align: unset;" class="box" alt="comic" @click="commingSoon" />
                            </div>
                          </div>
                        </v-ons-col>
                      </v-ons-row>
                    </v-ons-carousel-item>
                  </v-ons-carousel>
                  </div>
                      <!-- <img src="" class="image image-rectangle" width="300" height="100" style="visibility: hidden;" /> -->
              </div>
              <div class="ff-col m1">
                <v-ons-icon @click="next"><img class="ff-gallery-arrow-next ff-display-right" alt="frisian-arrow-next" :src="require('@/assets/images/gallery_arrow_next.png')"></v-ons-icon>
              </div>
            </div>
            <div class="ff-row" >
              <a v-bind:href="urlRedirectCharacter"><img id="ff-button-character" alt="frisian-background" :src="require('@/assets/images/button.png')"></a>
            </div>
            </div>

          </div>
             <span class="image image-rectangle" width="300" height="100" style="visibility: hidden;" />
        </div>
        <v-ons-row class="center row-button">

        <div @change="change">
          <input type=file accept="image/*" capture="environment"  name="file" id="file" tabindex=-1>
        </div>

        </v-ons-row>
    </div>
    </div>
    <div class="ff-landscape">
    <vue-headful
        v-bind:title="title"
        description="Gallery Page"
    />
      <div class="ff-landscape-text">Aplikasi ini hanya dapat digunakan pada smartphone/tablet mode potret (portrait)</div>
      <img width="100" alt="background" :src="require('@/assets/images/icon-rotate.png')">
  </div>
  </div>

</template>

<style>
/* start copy from login vue */
#ff-button-character{
  width: 62%;
  height: auto;
  position: absolute;
  margin-top: 54%;
  -webkit-transform: translate(30%, 0%);
  transform: translate(30%, 0%);
}


img.title-login-page {
  width: 40%;
  top: 15%;
}

img.ff-brand {
  width: 25%;
}

.ff-form-panel {
  width: 80%;
}

.btn-login {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.ff-section-bot {
  width: 100%;
  align-content: center;
  margin-left: 15%;
}
/* end copy from login vue edited  */

.ff-img-logout {
  width: 15%;
  margin: 3%;
}
.ff-img-help{
  width: 7%;
  margin: 5% 5% 0 0;
}
</style>

<script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
<script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
<script>
import Vue from 'vue';
import axios from 'axios'
import ImageUploader from 'vue-image-upload-resize'
import { isLoggedIn, getIdToken, removeToken } from './user/token.js'
import { apiRouter } from './api-routing.js'
import VueSweetalert2 from 'vue-sweetalert2'
import Router from 'vue-router'
import ImageCompressor from 'image-compressor.js'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'
import { comicCookies, specialEditionCookies } from './user/comic-cookies.js'
let CryptoJS = require("crypto-js");

Vue.use(Router)
Vue.use(VueSweetalert2);
Vue.use(ImageUploader);
Vue.use(Loading);

export default {
  components: {
      Loading
  },
  name: 'app',
  data () {
    var URL = window.URL || window.webkitURL;
    var vm = this;
    return {
      isLoading: false,
      fullPage: true,
      onCancel: true,
      gallery: [],
      segmentGalleries: [],
      carouselIndex: 0,
      posts : [],
      title : 'Comic Gallery',
      hasImage: false,
      image: null,
      tempComicCookies : comicCookies(),
      comicSeri : '',

      options: {
      checkOrientation: true,
      maxWidth: undefined,
      maxHeight: undefined,
      minWidth: 0,
      minHeight: 0,
      width: undefined,
      height: undefined,
      quality: 0.1,
      mimeType: '',
      convertSize: 5000000,
          success: function (file) {

              if (URL) {
              vm.outputURL = URL.createObjectURL(file);
              }
              vm.output = file;
              let imageName = file.name;
              let explode = imageName.split('.');
              let extension = explode[explode.length-1];
              getComicScan(file,extension);

          },
          error: function (e) {
            vm.isLoading = false;
          },
      },
      inputURL: '',
      outputURL: '',
      input: {},
      output: {},
      isUserGuide: 0,
      urlRedirectCharacter: 'https://www.frisianflag.com/amp/aktivitas-kami/duniazuzhu'
    }
  },
  mounted(){
  },
  created() {
    let CryptoJS = require("crypto-js");
    let sessionKeyRead = process.env.COMIC_COOKIES_NAME;
    let sessionKeySpecial = process.env.SPECIAL_COOKIES_NAME;
    //===== get data cookie comic read  start ======
    let tempCookiesComic = this.tempComicCookies;
    let comicReadArray = tempCookiesComic;
    // ==== get data cookie comic read end =======

    this.galleries = [];
      const header = {
          headers: {
            'Accept' :'application/json',
          }
      };
      axios.get(apiRouter().gallery, header)
      .then( (response) => {
        if(response.status === 200){
          this.gallery = response.data;
          this.segmentGalleries = response.data;
          this.segmentGalleries.segment = [];
          let tempGalleries = [];
          let item = 0;
          let segment = 0;
          let numb = 0;
          let specialSeri = [];
          response.data.data.forEach(element => {
            if(item != 9) {
              item ++;
            } else {
              item = 1;
              segment ++;
              tempGalleries = [];
            }

            let checkRead = comicReadArray.includes(element.seri.toString());
            if(checkRead == true){
              let is_open = 1;
              element.image_thumbnail = element.image_read;
              element.is_open = is_open;
              element.is_event = 'openComic';
            }else{
              let is_open = 0;
              element.is_open = is_open;
              if(element.is_published == true || element.is_published == 'true'){
                if(element.comic_type_id == 2){
                  element.image_thumbnail = element.image;
                  element.is_event = 'scanProcess';
                  specialSeri.push(element.seri.toString());
                }else{
                  element.image_thumbnail = element.image;
                      element.is_event = 'openComic';
                }
              }else{
                element.image_thumbnail = element.comming_soon;
                element.is_event = 'commingSoon';
              }
            }

            // is event value
            tempGalleries.push(element);
            this.segmentGalleries.segment.push({index: segment, data: tempGalleries});
          });
          specialSeri = JSON.stringify(specialSeri);
          var encryptSpecialSeri = CryptoJS.AES.encrypt(specialSeri, process.env.SECRET_KEY);
          var now = new Date();
          now.setDate(now.getDate() + 30);
          this.$cookies.set(sessionKeySpecial, encryptSpecialSeri.toString(), now);

        }else{
          this.$swal('error '+response.statusText);
        }
        let number = 0;
        let temp = [];
        this.segmentGalleries.segment.forEach(item => {
          if(item.index == number) {
            temp.push(item);
            number ++;
          }
        })
        this.segmentGalleries.segment = temp;
      })
      .catch((error) => {
      })
      .finally(() => {});

    // ======== check user guide start =========
    axios.get(apiRouter().user_guide)
    .then( (response) => {
      console.log(response)
      if(response.status === 200){
        var isGuide = 0;
        if(response.data.data){
          isGuide = 1;
        }
        this.isUserGuide = isGuide;
      }
    })
    .catch((error) => {
        console.log(error);
    })
    // ======= check user guide end ==========

// ======= load url redirect character start ==========
    axios.get(apiRouter().url_redirect_character)
    .then((response) => {
      if(response.status === 200){
        if(response.data.code === 1){
          // console.log('urlchar', response.data.data.url_character)
          if (response.data.data.url_character != null) {
            // const regexUrl = /(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})/gi
            // if (regexUrl.test(response.data.data.url_character)){
              this.urlRedirectCharacter = response.data.data.url_character
            // }
            // console.log('urlcharss', regexUrl.test(response.data.data.url_character))
            // console.log('urlcharss', response.data.data.url_character)
          }
        }
      }
    })
    .catch( (error) => {
        console.log(error)
    });
    // ======= load url redirect character end ==========
  },
  filters: {
    prettySize: function (size) {
      var kilobyte = 1024;
      var megabyte = kilobyte * kilobyte;

      if (size > megabyte) {
        return (size / megabyte).toFixed(2) + ' MB';
      } else if (size > kilobyte) {
        return (size / kilobyte).toFixed(2) + ' KB';
      } else if (size >= 0) {
        return size + ' B';
      }

      return 'N/A';
    },
  },
  methods : {
    commingSoon (){
        this.$swal('Tunggu ceritaku minggu depan yaa..');
    },
    scanProcess (data) {
      let origin = window.location.origin;
      let pathname = window.location.pathname;
      let explode = pathname.split('/');
      let urlApp = origin;
      for(let i = 0; i < explode.length - 1; i++){
        if(i == 0){
          urlApp += explode[i];
        }else{
          urlApp += '/'+explode[i];
        }
      }

      let comicSeri = data.seri;
      let tempCookiesComic = this.tempComicCookies;
      if(tempCookiesComic.length > 0){
        let lastComicSeri = tempCookiesComic[tempCookiesComic.length - 1];
        let beforeLast = tempCookiesComic[tempCookiesComic.length - 2];
        let nextComicSeri = parseInt(lastComicSeri)+parseInt(1);
        if(parseInt(comicSeri) < parseInt(lastComicSeri)){
          this.$router.push({name : 'story', params:{comic_seri: comicSeri} })
        }else{
          if(parseInt(comicSeri) > parseInt(lastComicSeri) + parseInt(1)){
            let string = 'Hai, kamu melewatkan episode ke '+nextComicSeri+'. Sampai bertemu di sana ya!'
            this.$swal(string);
          }else{
            if(data.comic_type == "special edition"){
              this.comicSeri = comicSeri;
              document.getElementById('file').click();
            }else{
              this.$router.push({name : 'story', params:{comic_seri: comicSeri} })
            }
          }
        }
      }else{
        if(parseInt(comicSeri) == parseInt(1)){
          this.comicSeri = comicSeri;
          document.getElementById('file').click();
        }else{
          let string = 'Hai, kamu melewatkan episode ke 1. Sampai bertemu di sana ya!'
          this.$swal(string);
        }
      }
    },
    openComic(data){
      let comicSeri = data.seri;
      let tempCookiesComic = this.tempComicCookies;
      let length = tempCookiesComic.length;
      let nextComicSeri = 1;
      let prevComicSeri = 1;
      let specialEdition = specialEditionCookies();

      if(comicSeri > nextComicSeri){
        if(length > 0){
            let lastComic = tempCookiesComic[length-1];
            nextComicSeri = parseInt(lastComic)+parseInt(1);
            prevComicSeri = parseInt(lastComic)-parseInt(1);
            if(prevComicSeri < 1){
              prevComicSeri = 1;
            }

            let temp = [];
            for(let i = 0; i < tempCookiesComic.length; i++){
              temp.push(parseInt(tempCookiesComic[i]));
            }

            if(specialEdition){
              for(let a = 0; a < specialEdition.length; a++){
                let special  = parseInt(specialEdition);
                if(special <= comicSeri){
                  temp.push(special);
                }
              }

              var arrayUnique = temp.filter(function(item, index){
                return temp.indexOf(item) >= index;
              });
              let sorting = temp.sort((a, b) => a - b);

              if(sorting){
                let last = sorting[sorting.length-1];
                let next = parseInt(last)+parseInt(1);

                if(comicSeri > next){
                  let string = 'Hai, kamu melewatkan episode ke '+next+'. Sampai bertemu di sana ya!';
                  this.$swal(string);
                }else{
                  this.$router.push({name: 'story', params: { comic_seri: comicSeri }});
                }

              }else{
                if(comicSeri > nextComicSeri){
                  let string = 'Hai, kamu melewatkan episode ke '+next+'. Sampai bertemu di sana ya!';
                  this.$swal(string);
                }else{
                    this.$router.push({name: 'story', params: { comic_seri: comicSeri }});
                }
              }
            }else{
              if(comicSeri > nextComicSeri){
                let string = 'Hai, kamu melewatkan episode ke '+next+'. Sampai bertemu di sana ya!';
                this.$swal(string);
              }else{
                  this.$router.push({name: 'story', params: { comic_seri: comicSeri }});
              }
            }
        }else{
          let string = 'Hai, kamu melewatkan episode ke '+nextComicSeri+'. Sampai bertemu di sana ya!';
          this.$swal(string);
        }
      }else{
        this.$router.push({name: 'story', params: { comic_seri: comicSeri }});
      }
    },
    userGuide () {
      this.$router.push({name: 'user-guide'});
    },
    prev () {
      this.carouselIndex --;
      if(this.carouselIndex < 0) {
        this.carouselIndex = this.segmentGalleries.segment.length - 1;
      }
    },

    next () {
      this.carouselIndex++;
      if(this.segmentGalleries.segment.length == this.carouselIndex) {
        this.carouselIndex = 0;
      }

    },
    compress: function (file) {
      if (!file) {
        return;
      }

      if (URL) {
        this.inputURL = URL.createObjectURL(file);
      }

      this.input = file;
      new ImageCompressor(file, this.options);
    },

    change: function (e) {
      this.isLoading = true;
      this.compress(e.target.files ? e.target.files[0] : null);
    },

    showLoader(){
      this.isLoading = true;
    },
    hideLoder(){
      this.isLoading = false;
    },
    userGuide () {
      this.$router.push({name: 'user-guide'});
    }
  }
}

export function getComicScan(image, extension){
    let comicReadArray = comicCookies();

    let sessionKeyRead = process.env.COMIC_COOKIES_NAME;
    let comicSeri = document.getElementById('comicSeri').value;

    const formData = new FormData();
    formData.append('kemasan', image);
    formData.append('extension', extension);

    const header = {
        headers: {
          'Accept' :'application/json',
        }
    };

    axios.post(apiRouter().take_camera, formData,header)
    .then(function (response){
        console.log(response);
        document.getElementById('testLoading').click();
        if(response.status == 200){
          if(response.data){
            if(response.data.code == 1){
              comicReadArray.push(comicSeri.toString());
              var arrayUnique = comicReadArray.filter(function(item, index){
                return comicReadArray.indexOf(item) >= index;
              });
              var comicRead = JSON.stringify(arrayUnique);
              // Encrypt
              var ciphertext = CryptoJS.AES.encrypt(comicRead, process.env.SECRET_KEY);
              var date = new Date();
              date.setDate(date.getDate() + 30);
              Vue.cookies.set(sessionKeyRead, ciphertext.toString(), date);

              Vue.swal({
                title: 'Sukses',
                text: response.data.messages,
                type: 'success',
                showCancelButton: false,
                confirmButtonText: 'OK',
                cancelButtonText: 'No, Keep it!',
                showCloseButton: false,
                showLoaderOnConfirm: true
              }).then((result) => {
                if(result.value) {
                  let origin = window.location.origin;
                  let pathname = window.location.pathname;
                  let explode = pathname.split('/');
                  let url = origin;
                  for(let i = 0; i < explode.length - 1; i++){
                    if(i == 0){
                      url += explode[i];
                    }else{
                      url += '/'+explode[i];
                    }
                  }
                  document.getElementById('testLoading').click();
                  // Vue.router.push({name : 'story', params:{comic_seri: comicSeri} });
                  window.location.href = url+'/story/'+comicSeri;
                } else {
                  document.getElementById('testLoading').click();
                  // Vue.router.push({name : 'story', params:{comic_seri: comicSeri} });
                  window.location.href = url+'/story/'+comicSeri;
                }
              });
            }else{
              Vue.swal({
                title : 'Error',
                text: response.data.messages,
                type: 'error',
                showCancelButton: false,
                confirmButtonText: 'OK',
                cancelButtonText: 'No, Keep it!',
                showCloseButton: false,
                showLoaderOnConfirm: true
              }).then((result) => {

              });
            }
          }
        }
    })
    .catch(function (error) {
        document.getElementById('testLoading').click();
    });

}

export function b64toBlob(b64Data, contentType, sliceSize) {
    contentType = contentType || '';
    sliceSize = sliceSize || 512;

    var byteCharacters = atob(b64Data);
    var byteArrays = [];

    for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
        var slice = byteCharacters.slice(offset, offset + sliceSize);

        var byteNumbers = new Array(slice.length);
        for (var i = 0; i < slice.length; i++) {
            byteNumbers[i] = slice.charCodeAt(i);
        }

        var byteArray = new Uint8Array(byteNumbers);

        byteArrays.push(byteArray);
    }

  var blob = new Blob(byteArrays, {type: contentType});
  return blob;
}
</script>

<style>
  #file {
    display: none;
  }
  #testLoading {
    display: none;
  }
</style>
