<template>
<div class="ff-main">
  <div class="ff-portrait">
  <div class="ff-login-page" v-bind:style="{ backgroundImage: 'url(' + require('@/assets/images/background_login.png') + ')' }">
    <!-- <img class="ff-img-bg-login" alt="background" :src="require('@/assets/images/background_login.png')"> -->
      <vue-headful
              v-bind:title="title"
              description="page login"
          />
    <div class=" ff-panel " >
      <a v-bind:href="urlRedirect"><img class="ff-display-topleft ff-brand" width="100" alt="background" :src="require('@/assets/images/logo_frisian_flag.png')"></a>
      <img class="title-login-page ff-display-topmiddle" alt="background" :src="require('@/assets/images/title_sign_in.png')">
      <div class="ff-display-middle ff-form-panel" >
          <form name="form-login" @submit='doLogin'>
                <v-ons-row ><label class="ff-row ff-font-white">Email</label></v-ons-row >
                <v-ons-row ><input class="ff-row ff-loginpage-fieldinput" type="email" name="email" v-model='email' v-on:keyup="emailChange" autocomplete="off" maxlength="50" required></v-ons-row >
                <v-ons-row ><label class="ff-font-white ">Kata Sandi</label></v-ons-row>
                <v-ons-row><input class="ff-loginpage-fieldinput" type="password" name="password" v-model='password' v-on:keyup="passwordChange" autocomplete="off" maxlength="16" required></v-ons-row>
                  <button type="submit" style="border: 0; background: transparent; cursor: pointer; clear: both;">
                    <img class="btn-login" :src="require('@/assets/images/button_login.png')" alt="submit" :disabled="isProcessing"/>
                  </button>
          </form>

          <div class="ff-section-bot" >
              <v-ons-row>
                <small class="ff-font-white">Anda pengguna baru?
                  <router-link :to="{name: 'register'}"><span class="ff-link-blue">DAFTAR</span></router-link>
                </small>
              </v-ons-row>
              <v-ons-row style="margin-top: 5px">
                <small class="ff-font-white">Lupa kata sandi?
                <router-link :to="{name: 'Lupa Password'}"><span class="ff-link-blue">Lupa</span></router-link>
                </small>
              </v-ons-row>
            </div>
      </div>

    </div>
  </div>
  </div>
  <div class="ff-landscape">
    <vue-headful
        v-bind:title="title"
        description="Login Page"
    />
      <div class="ff-landscape-text">Aplikasi ini hanya dapat digunakan pada smartphone/tablet mode potret (portrait)</div>
      <img width="100" alt="background" :src="require('@/assets/images/icon-rotate.png')">

  </div>
  </div>
</template>

<style>
img.title-login-page {
  width: 40%;
  top: 15%;
}

img.ff-brand {
  width: 25%;
}

.ff-form-panel {
  width: 80%;
}

.btn-login {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.ff-section-bot {
  width: 100%;
  align-content: center;
  margin-left: 15%;
}

</style>

<script>
import Vue from 'vue';
import axios from 'axios';
import { apiRouter } from './api-routing.js';
import { removeTokenForgot } from './user/token-forgot.js';
// import { CryptoJS } from './user/crypto-js.js';
// import { Encryption } from './user/encryption.js';
import { isEmailValid, stringOnly, tagPrevention } from './directives/input-validation.js';
import VueSweetalert2 from 'vue-sweetalert2';
Vue.use(VueSweetalert2);

let CryptoJS = require("crypto-js");

export default {
  name: 'app',
  data () {
    return {
      email : '',
      password : '',
      title : 'Login',
      isProcessing: false
    }
  },
  computed: {
  },
  created(){
    //console.log('SECRET_KEY',process.env.SECRET_KEY)
  },
  methods : {
    doLogin(e) {
        e.preventDefault();
        let currentObj = this

      // console.log('emaill', stringOnly(this.email))
      // console.log('passsssBefore', this.password)
      // console.log('passsss', stringOnly(this.password))
        if(!isEmailValid(this.email)){
          this.$swal("Maaf, penulisan email belum benar")
          return
        }

        const formData = new FormData()
        formData.append('email', stringOnly(this.email))
        formData.append('password', stringOnly(this.password))

        // const header = {
        //     headers: {
        //       'Accept' :'application/json',
        //     }
        // };

        this.isProcessing = true
        axios.post(apiRouter().login, formData, header)
        .then((response) => {
          // console.log(response)
          this.isProcessing = false
          if(response.status === 200){
            if(response.data.code === 1){
              removeTokenForgot();

              let ciphertext = CryptoJS.AES.encrypt(JSON.stringify(response.data.data), process.env.SECRET_KEY);

              localStorage.setItem('tokenff', window.btoa(ciphertext));

              this.$router.push({name: 'gallery'});
            }else{
              this.$swal(response.data.messages);
            }
          }else{
            this.$swal('error '+response.statusText);
          }
        })
        .catch( (error) => {
            this.isProcessing = false
            currentObj.output = error;
        });
    },
    emailChange: function(evt){
      this.email = tagPrevention(evt, this.email, 2)
    },
    passwordChange: function(evt){
      this.password = tagPrevention(evt, this.password, 0)
    },
  },
}

</script>
