<template>
<div class="ff-main">
  <div class="ff-portrait">
  <v-ons-page>
    <div class="ff-register-page" v-bind:style="{ backgroundImage: 'url(' + require('@/assets/images/background_login.png') + ')' }">
      <vue-headful
          v-bind:title="title"
          description="page register"
      />
      <div class="ff-panel">
          <a v-bind:href="urlRedirect"><img class="ff-display-topleft ff-brand" alt="background" :src="require('@/assets/images/logo_frisian_flag.png')"></a>
          <img class="title-register-page ff-display-topmiddle" alt="background" :src="require('@/assets/images/title_sign_up.png')">
        <div class="ff-display-middle ff-form-panel">
            <form name="form-login" @submit='doRegister'>
              <v-ons-row><label class="ff-row ff-font-white">Nama Lengkap</label></v-ons-row>
              <v-ons-row><input class="ff-row ff-register-fieldinput" type="text" v-on:keyup="fullnameChange" v-model="fullname" autocomplete="off" maxlength="50" required></v-ons-row>
              <v-ons-row><label class="ff-font-white">Email</label></v-ons-row>
              <v-ons-row><input class="ff-register-fieldinput" type="email" v-on:keyup="emailChange" v-model="email" autocomplete="off" maxlength="50" required></v-ons-row>
              <v-ons-row ><label class="ff-font-white">Kata Sandi</label></v-ons-row>
              <v-ons-row><input class="ff-register-fieldinput" type="password" v-on:keyup="passwordChange" name="password" v-model='password' autocomplete="off" maxlength="16" required></v-ons-row>
                <button type="submit" style="border: 0; background: transparent; cursor: pointer; clear: both;" :disabled="isProcessing">
                  <img class="btn-login" :src="require('@/assets/images/button_register.png')" alt="submit" />
                </button>
            </form>
          <div class="ff-section-bot ff-font-white" >
            <v-ons-row>
              <small class="ff-font-white">
                <router-link :to="{name: 'login'}"><span class="ff-link-blue">MASUK</span></router-link> jika sudah punya akun
              </small>
            </v-ons-row>
          </div>
        </div>
      </div>
    </div>
  </v-ons-page>
  </div>
  <div class="ff-landscape">
    <vue-headful
        v-bind:title="title"
        description="Register Page"
    />
      <div class="ff-landscape-text">Aplikasi ini hanya dapat digunakan pada smartphone/tablet mode potret (portrait)</div>
      <img width="100" alt="background" :src="require('@/assets/images/icon-rotate.png')">
  </div>
  </div>
</template>

<style>
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://unpkg.com/onsenui/css/onsenui.css';
@import 'https://unpkg.com/onsenui/css/onsen-css-components.min.css'; */
/* @import './assets/css/temp-main.css'; */
img.title-register-page {
  width: 40%;
  top: 10%;
}
.ff-register-page {
  font-family: defaultFont;
}
</style>

<script>
import Vue from 'vue';
import axios from 'axios';
import { apiRouter } from './api-routing.js';
import { removeTokenForgot } from './user/token-forgot.js';
import { isEmailValid, stringOnly, tagPrevention } from './directives/input-validation.js';
import VueSweetalert2 from 'vue-sweetalert2';
Vue.use(VueSweetalert2);

import VueCookies from 'vue-cookies'
Vue.use(VueCookies)

let CryptoJS = require("crypto-js");
// let secret = 'monster-ar-token';



export default {
  name: 'app',
  data () {
    return {
      fullname: '',
      email: '',
      password: '',
      title: 'Register',
      isProcessing: false
    }
  },
  created(){
    // this.$cookies.set("user_session",window.btoa(ciphertext),"3h"); //3 hours after
    this.$cookies.set("user_session",'asfsfakjs',"3h"); //3 hours after
  },
  methods : {
    doRegister(e){
      e.preventDefault();

      if(!isEmailValid(this.email)){
        this.$swal("Maaf, penulisan email belum benar");
        return
      }

      const formData = new FormData();
      formData.append('name', stringOnly(this.fullname));
      formData.append('email', stringOnly(this.email));
      formData.append('password', stringOnly(this.password));

      // const header = {
      //     headers: {
      //       'Accept' :'application/json',
      //     }
      // };

      this.isProcessing = true
      axios.post(apiRouter().register, formData,header)
      .then( (response) => {
          this.isProcessing = false
          if(response.status === 200){
            if(response.data.code === 1){
              removeTokenForgot();
              let responseData = JSON.stringify(response.data.data);
              let ciphertext = CryptoJS.AES.encrypt(responseData, process.env.SECRET_KEY);

              console.log(CryptoJS.HmacSHA1(responseData, process.env.SECRET_KEY))
              // console.log('INI SECRET ', process.env.SECRET_KEY)
              // console.log('INI CIPHER ', window.btoa(ciphertext))

              this.$cookies.set("user_session", window.btoa(ciphertext),"3h"); //3 hours after

              localStorage.setItem('tokenff', window.btoa(ciphertext));
              // localStorage.setItem('tokenff', JSON.stringify(response.data.data));
              this.$router.push({name: 'gallery'});
              this.$swal("Selamat datang di dunia Zuzhu Zazha. Nikmati semua keseruan yang ada di sini.");
            }else{
              this.$swal(response.data.messages);
            }
          }else{
            this.$swal('error '+response.statusText);
          }
      })
      .catch((error) => {
          this.isProcessing = false
          console.log(error)
      });
    },
    fullnameChange: function(evt){
      this.fullname = tagPrevention(evt, this.fullname, 1)
    },
    emailChange: function(evt){
      this.email = tagPrevention(evt, this.email, 2)
    },
    passwordChange: function(evt){
      this.password = tagPrevention(evt, this.password, 0)
    },
  }
}

</script>
