<template>
<div class="ff-main">
  <div class="ff-portrait">
    <div class="ff-story-page">
   <vue-headful
        v-bind:title="title"
        description="page story"
    />
    <div id="header-height" class="container" style="background: #6dcef0; box-shadow: 0px 4px 20px 0px rgba(79, 79, 79, 0.1);">
      <nav class="ff-header">
          <router-link :to="{name: 'gallery'}"><i class="fa fa-home fa-2x"></i></router-link>
          <label class="list-item__title ff-font-white ff-story-title">{{ comicSeri }}</label>
                <!-- <span class="list-item__title">{{ comicSeri }}</span><br><small class="list-item__subtitle">{{comicTitle}}</small> -->

          <img class="icon-header" id="pdf-story-prev" @click="prevEpisode(prevUrl)" :src="require('@/assets/images/episode_arrow_prev.png')" />
          <span style="margin-left: 16px"></span>
          <img class="icon-header icon-mirror" id="pdf-story-next" @click="nextEpisode(nextUrl)" :src="require('@/assets/images/episode_arrow_prev.png')" />
      </nav>
    </div>
    <div id="pdf-main-container">
    <div id="pdf-loader" style="display: none;">Loading document ...</div>
      <div id="pdf-contents">
        <PDFViewer
            v-bind="{url}"
            @document-errored="onDocumentErrored"
            >
            <PDFUploader
                v-if="enableUploader"
                :documentError="documentError"
                @updated="urlUpdated"
                slot="header"
                class="header-item"
                />
        </PDFViewer>
      <div id="page-loader"></div> <!-- Loading page ... -->
      </div>
    </div>
  </div>
  </div>
    <div class="ff-landscape">
    <vue-headful
        v-bind:title="title"
        description="Story Page"
    />
      <div class="ff-landscape-text">Aplikasi ini hanya dapat digunakan pada smartphone/tablet mode potret (portrait)</div>
      <img width="100" alt="background" :src="require('@/assets/images/icon-rotate.png')">
  </div>
  </div>
</template>

<style>
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'; */
/* @import './assets/css/main.css';
@import './assets/css/story.css'; */
  .ff-story-page a {
      color: white !important;
  }
  .ff-story-title{
    margin-left: 4%;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./assets/assets/pdf.js"></script>
<script src="./assets/assets/pdf.worker.js"></script>



<script>
import Vue from 'vue';
import axios from 'axios'
import { apiRouter } from './api-routing.js'
import VueSweetalert2 from 'vue-sweetalert2'
import { comicCookies, specialEditionCookies } from './user/comic-cookies.js'

Vue.use(VueSweetalert2);
import PDFUploader from './components/PDFUploader.vue'
import PDFViewer from './components/PDFViewer.vue'
let CryptoJS = require("crypto-js");


export default {
  name: 'app',
  data () {
    return {
      comic: [],
      title : 'Stories',
      comicTitle: '',
      comicSeri: this.$route.params.comic_seri,
      // url:"https://cdn.filestackcontent.com/wcrjf9qPTCKXV3hMXDwK",
      url : '',
      comicId : '',
      documentError: undefined,
      enableUploader: process.env.VUE_APP_UPLOAD_ENABLED === 'true',
      nextUrl : '',
      prevUrl : '',
      nextComicId : '',
      prevComicId : '',
      nextRouteName : '',
      prevRouteName : '',
    }
  },
  components: {
        PDFUploader,
        PDFViewer,
    },
  created(){
    let sessionKeyRead = process.env.COMIC_COOKIES_NAME;
    //===== get data cookie comic read  start ======
    let tempCookiesComic = comicCookies();
    let comicReadArray = tempCookiesComic;
    // ==== get data cookie comic read end =======
    let specialEdition = specialEditionCookies();

    let comic_seri = this.comicSeri;

      const header = {
          headers: {
            'Accept' :'application/json',
          }
      };

      axios.get(apiRouter().story+'/'+comic_seri , header)
      .then( (response) => {
        // console.log(response);
        if(response.status === 200 ){
            if(response.data){
              let checkRead = tempCookiesComic.includes(response.data.comic_seri.toString());
              let length = tempCookiesComic.length;
              if(response.data.comic_type == 'special edition' && checkRead == false){
                this.$swal('special edition, harus scan kemasan');
                this.$router.push({name: 'gallery'});
                return false;
              }

              let origin = window.location.origin;
              let pathname = window.location.pathname;
              let explode = pathname.split('/');
              let url = origin;
              for(let i = 0; i < explode.length - 1; i++){
                if(i == 0){
                  url += explode[i];
                }else{
                  url += '/'+explode[i];
                }
              }

              if(length > 0){
                  let lastComicSeri = tempCookiesComic[length-1];
                  let nextComicSeri = parseInt(lastComicSeri)+parseInt(1);
                  console.log('type:'+response.data.comic_type+' checkRead:'+checkRead);
                  if( parseInt(response.data.comic_seri) > parseInt(lastComicSeri) + parseInt(2)){
                    let string = 'Hai, kamu melewatkan episode ke '+nextComicSeri+'. Sampai bertemu di sana ya!'
                    this.$swal(string);
                    this.$router.push({name: 'gallery'});
                    return false;
                  }
              }else{
                if(response.data.comic_seri.toString() != '1'){
                  let string = 'Hai, kamu melewatkan episode ke 1. Sampai bertemu di sana ya!'
                  this.$swal(string);
                  this.$router.push({name: 'gallery'});
                  return false;
                }
              }

              // ====== save comic view user if cookies false start =======
              if(checkRead == false){
                const formData = new FormData();
                formData.append('comic_id', response.data.comic_id);
                axios.post(apiRouter().user_view, formData ,header)
                .then( () => {
                  // console.log(response);
                })
                .catch(() => {
                    // console.log(error);
                });
              }
              // ====== save comic view user if cookies false end =======
              comicReadArray.push(response.data.comic_seri.toString());
              var arrayUnique = comicReadArray.filter(function(item, index){
                return comicReadArray.indexOf(item) >= index;
              });
              var comicRead = JSON.stringify(arrayUnique);
              // Encrypt
              var ciphertext = CryptoJS.AES.encrypt(comicRead, process.env.SECRET_KEY);
              var date = new Date();
              date.setDate(date.getDate() + 30);
              this.$cookies.set(sessionKeyRead, ciphertext.toString(), date);

              this.comicTitle = response.data.comic_title;
              this.url = response.data.comic_file;
              // this.url = 'http://182.16.178.172/frisian-flag-dev/frisian-flag/storage/app/comic/file/1566216495b43254008f7c57405091ab7fa1081650c89260c5.pdf';
              this.comicSeri = 'Episode '+response.data.comic_seri;
              let prevComicSeri = response.data.prev_comic_seri;
              let nextComicSeri = response.data.next_comic_seri;
              let routeLink = '/aktivitas-kami/duniazuzhu/e-comic/explore';
              this.nextUrl = routeLink+'/gallery';
              this.prevUrl = routeLink+'/gallery';
              this.prevRouteName = 'gallery';
              this.nextRouteName = 'gallery';
              this.prevComicSeri = prevComicSeri;
              this.nextComicSeri = nextComicSeri;
              if(prevComicSeri){
                this.prevUrl = routeLink+'/story/'+prevComicSeri;
                this.prevRouteName = 'story';
              }
              if(nextComicSeri){
                this.nextUrl = routeLink+'/story/'+nextComicSeri;
                this.nextRouteName = 'story';
              }

              if(response.data.is_read === 0){
                comicRead(formData, header);
              }
            }else{
              this.$router.push({name: 'gallery'});
            }
        }else{
          this.$swal('error '+response.statusText);
        }
      })
      .catch((error) => {
          console.log(error);
      });
  },
  methods : {
    urlUpdated(url) {
      this.documentError = undefined;
      this.url = url;
      },
    onDocumentErrored(e) {
      this.documentError = e.text;
    },
    nextEpisode(url){
      window.location.href = window.location.origin+url;
    },
    prevEpisode(url){
        window.location.href = window.location.origin+url;
    },

  }
}

export function comicRead(formData, header){
  axios.post(apiRouter().read , formData, header)
  .then( (response) => {
    if(response.status === 200 ){

    }
  })
  .catch((error) => {
      console.log(error);
  });
}
</script>
<style>

</style>
