<template>
<div class="ff-main">
  <div class="ff-portrait">
    <div class="ff-story-page">
   <vue-headful
        v-bind:title="title"
        description="User Guide Page"
    />
    <div id="header-height" class="container" style="background: #6dcef0;
    box-shadow: 0px 4px 20px 0px rgba(79, 79, 79, 0.1);">
      <nav class="ff-header">
          <!-- <router-link :to="{name: 'gallery'}"><i class="fa fa-home" style="color: white; display: inline; "></i></router-link> -->
          <!-- <img class="icon-header" id="pdf-story-prev" @click="prevEpisode(prevUrl)" :src="require('@/assets/images/episode_arrow_prev.png')" /> -->
          <v-ons-list-item>
            <div class="center">
              <!-- <router-link :to="{name: 'gallery'}">
                <span class="list-item__title">User Guide</span><br><small class="list-item__subtitle"></small>
              </router-link> -->
            </div>
          </v-ons-list-item>
          <img class="icon-header icon-mirror" id="pdf-guide-close" @click="closeUserGuide" :src="require('@/assets/images/button_close.png')" style="width: 20px" />
      </nav>
    </div>
    <div id="pdf-main-container">
      <div id="pdf-loader">Loading document ...</div>
      <div id="pdf-contents">
        <PDFViewer
            v-bind="{url}"
            @document-errored="onDocumentErrored"
            >
            <PDFUploader
                v-if="enableUploader"
                :documentError="documentError"
                @updated="urlUpdated"
                slot="header"
                class="header-item"
                />
        </PDFViewer>
      <div id="page-loader">Loading page ...</div>
      </div>
    </div>
  </div>
  </div>
    <div class="ff-landscape">
    <vue-headful
        v-bind:title="title"
        description="Story Page"
    />
      <div class="ff-landscape-text">Aplikasi ini hanya dapat digunakan pada smartphone/tablet mode potret (portrait)</div>
      <img width="100" alt="background" :src="require('@/assets/images/icon-rotate.png')">
  </div>
  </div>
</template>

<style>
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'; */
/* @import './assets/css/main.css';
@import './assets/css/story.css'; */
  .ff-story-page a {
      color: white !important;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./assets/assets/pdf.js"></script>
<script src="./assets/assets/pdf.worker.js"></script>



<script>
import Vue from 'vue';
import axios from 'axios'
// import { isLoggedIn, getIdToken } from './user/token.js'
import { apiRouter } from './api-routing.js'
import VueSweetalert2 from 'vue-sweetalert2';

Vue.use(VueSweetalert2);
import PDFUploader from './components/PDFUploader.vue'
import PDFViewer from './components/PDFViewerGuide.vue'
export default {
  name: 'app',
  data () {
    return {
      comic: [],
      title : 'User Guide',
      url : '',
      documentError: undefined,
      enableUploader: process.env.VUE_APP_UPLOAD_ENABLED === 'true',
    }
  },
  components: {
        PDFUploader,
        PDFViewer,
    },
  created(){
      const header = {
          headers: {
            'Accept' :'application/json',
          }
      };

      axios.get(apiRouter().user_guide , header)
      .then( (response) => {
        if(response.data){
          this.url = response.data.data.file;
        }
      })
      .catch((error) => {
          console.log(error);
      });
  },
  methods : {
    urlUpdated(url) {
      this.documentError = undefined;
      this.url = url;
      },
    onDocumentErrored(e) {
      this.documentError = e.text;
    },
    closeUserGuide () {
      this.$router.push({name : 'gallery'});
    },

  }
}
</script>
<style>

</style>
